-----BEGIN CERTIFICATE-----
MIIEDTCCAvWgAwIBAgIUT2T9c1layQfMwNpyVigl5We16iswDQYJKoZIhvcNAQEL
BQAwgZUxCzAJBgNVBAYTAkpQMQ4wDAYDVQQIDAVUb2t5bzEOMAwGA1UEBwwFVG95
a28xETAPBgNVBAoMCEtIX0dyb3VwMRMwEQYDVQQLDApMb2NhbF9GaXJtMRQwEgYD
VQQDDAtBbGV4YW5kZXIuTDEoMCYGCSqGSIb3DQEJARYZYmx1ZWRyZWFteTEyM0Bv
dXRsb29rLmNvbTAeFw0yMzA0MDYwOTU1NTBaFw0yNDA0MDUwOTU1NTBaMIGVMQsw
CQYDVQQGEwJKUDEOMAwGA1UECAwFVG9reW8xDjAMBgNVBAcMBVRveWtvMREwDwYD
VQQKDAhLSF9Hcm91cDETMBEGA1UECwwKTG9jYWxfRmlybTEUMBIGA1UEAwwLQWxl
eGFuZGVyLkwxKDAmBgkqhkiG9w0BCQEWGWJsdWVkcmVhbXkxMjNAb3V0bG9vay5j
b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCw1y3z0pO2TGFMH9C2
a7sTdAGYrbwn6IV3Ul3qUtgALKnzcUzRHwezOU2gPVq0Rbj3K1vHmBLXiXvvxMh+
iPtYKTZLR2sF8Nmr5wVRq9QPn2F9gCaoSDPLZjEKPRcXBvfeD684PHy2r6cPWlFV
X18Y5AEYQKdH81F5QuyE/+3Qn+zKuRyFEQ65wUomj/QUVbxn9P0bbCQPkw+TQzF+
4c4gW2gzWTV0VvxU8iwPlpXuxZm/WdtBM7W58P1DL8NWtBXOHV/8eDVMNCWLyuQ+
pgWse/Yksm5u4892X4qQD/U7tGjnfGJAa3yp7OAzGTvstyYYKmO4wX+/2ezhMKuz
DspzAgMBAAGjUzBRMB0GA1UdDgQWBBRWGmYO7J7Q6SeFIeppz8UhbaPCCDAfBgNV
HSMEGDAWgBRWGmYO7J7Q6SeFIeppz8UhbaPCCDAPBgNVHRMBAf8EBTADAQH/MA0G
CSqGSIb3DQEBCwUAA4IBAQCTKgj82Ugs/C5anfKkEq7de00XQIUGobzu/q4ahMXr
Q4ma6uvUMGDHtnkR1YLo/0fkyN/SrY8WfOOjizy8ca5Uy5jgPOyuUlr3FoRWVduo
7xuLD48v86XTKTDYWx3cZ4bRe42RBgQlz+qr8K1+TzDLu5/A74rfwGanHFt1efZI
Zb1E+LOF75Bk/bs/qndRfHPI89mqVotApVyRA78240OZ2fU4L3Ekq3TfPT25yuS0
h1NHe+UV465o3KFI4NObuaG/FPI9cRhwE+8EAyjN1bZ3lEZ1e2YQiTwK8TskA3Px
5aMiYsKzmurHaeHjLWZmAQoTX43rplHFT59Lx6WN6DCg
-----END CERTIFICATE-----
